<div id="login_page" data-role="content">
	<div class="top-banner">
		<a href="javascript:history.back()">
			<span class="back-arrow icons-lib"></span>
		</a>
		Sign in
		<span class="wu-logo-sm float-right"></span>
	</div>
	<div class="container-fluid banner-page" id="">
		<div class="row spaced-row">
			<div class="col-xs-12">
				<h1>Bank of America Sign In.</h1>
			</div>
		</div>
		<div class="row white-row">
			<div class="col-xs-12">
				<div class="floating-placeholder">
					<input name="" type="text">
					<label for="name">Bank of America username</label>
				</div>
			</div>
		</div>
		<div class="row white-row end-row">
			<div class="col-xs-12">
				<div class="floating-placeholder">
					<input name="" type="text">
					<label for="name">Password</label>
				</div>
			</div>
		</div>
		<div class="row" id="login-submit-btn-row">
			<input type="submit" class="full-width-btn button" value="Sign in" onClick="window.location='#/sender-info'">
		</div> 
	</div>
						
</div>

