<!--#include virtual="common/header.html"-->

<div id="review-container" data-role="content">
	<div class="top-banner">
		<a href="javascript:history.back()"><span class="back-arrow icons-lib"></span></a>Review
		<span class="wu-logo-sm float-right"></span>
	</div>
	<div class="container-fluid banner-page">
		<div class="row spaced-row">
			<div class="col-xs-12">
				<h1>Review and confirm</h1>
			</div>
		</div>
		<div class="row white-row ">
			<div class="col-xs-4 el-gray-title-s">Transfer amount</div>
			<div class="col-xs-6 el-text-s">100.00 USD</div>
			<div class="col-xs-2 row-border-left"><a href>EDIT</a></div>
		</div>
		<div class="row white-row end-row">
			<div class="col-xs-5 el-gray-title-s">
				<div>Transfer fee</div>
				<div>Exchange rate</div>
				<div>Transfer total</div>
				<div>Receiver gets</div>
			</div>
			<div class="col-xs-5 el-text-s">
				<div>9.00 USD</div>
				<div>1.00 USD = 14.50 MXN</div>
				<div>109.00 USD</div>
				<div>1450.00 MXN</div>
			</div>
			<div class="col-xs-2 "></div>
		</div>
		<div class="row spaced-row">
			<div class="col-xs-12 legal-statement">
				For all transfers receiver may receive less due to the foreign taxes. For transfers to a bank account, receiver may also receive less due to the fees charged the by the receivers bank.
			</div>
		</div>
		<div class="row white-row end-row">
			<div class="col-xs-5 el-gray-title-s">
				<div>Receiver</div>
				<div>Routing number</div>
				<div>Account number</div>
			</div>
			<div class="col-xs-5 el-text-s">
				<div>Lubomierz Herman</div>
				<div>234 590 787</div>
				<div>902 345 678</div>
			</div>
			<div class="col-xs-2 row-border-left"><a href>EDIT</a></div>
		</div>
		<div class="row white-row end-row spaced-top">
			<div class="col-xs-5 el-gray-title-s">
				<div>Sender</div>
				<div>Money Sent to</div>
				<div>Money will be available</div>
				<div>Your payment method</div>
				<div>Phone</div>
				<div>Email</div>
			</div>
			<div class="col-xs-5 el-text-s">
				<div>Giltbert Damjan</div>
				<div>Bank</div>
				<div>4-6 days</div>
				<div>Bank account ***3145</div>
				<div>1-415-334-3455</div>
				<div>giltbert.da@gmail.com</div>
			</div>
			<div class="col-xs-2 row-border-left"><a href>EDIT</a></div>
		</div>
		<div class="row spaced-row">
			<div class="col-xs-12 legal-statement">
				<ul>
					<li>
						<sup>1.</sup>
						Important Notice: Western Union relies on the information you provide us to send money. Please review all the transaction details for accuracy before continuing your transactions. If you are sending money to a bank account, please make sure the account number; bank details and currency selected are correct before sending. If the account number and or details are incorrect, money may be sent to a wrong bank account and may not be recovered.
					</li>
					<li>
						<sup>2.</sup>
						Subject to applicable laws, you may cancel for a full refund within 30 minutes of payment, unless the funds have been picked up or deposited.
					</li>
					<li>
						<sup>3.</sup>
						Data available will be displayed on receipt. Service and funds available depends on certain factors including the service selected, the selection of delayed delivery options, amount sent, destination country, currency available, regulatory issues, consumer protection issues, identification requirements, delivery restrictions, agent location hours, and different in time zones (collective, “Restrictions”).
					</li>
					<li class="check-box"><input type="checkbox"></li>
					<li>
						I have read and agree to the Online Privacy Statement and terms and conditions and agree to receive my information electronically pursuant to the E-sign Disclosure and Consent Notice.
					</li>

					<li>
						I certify that I am acting on my own behalf and not on behave of another person.
					</li>

				</ul>
			</div>
		</div>
		<div class="row" id="">
			<input type="submit" class="full-width-btn button" value="Confirm" onClick="window.location='receipt.html'">
		</div> 
	</div>
						
</div>
<!--#include virtual="common/footer.html"-->
