/* line 4, ../sass/utilities/sprite.scss */
.flag {
  display: inline-block;
  position: relative;
  width: 100%;
}

/* line 10, ../sass/utilities/sprite.scss */
.flag-icon {
  display: inline-block;
  width: 31px;
  height: 24px;
  background: url(images/countryflags.png) no-repeat;
  zoom: 0.9;
  -moz-transform: scale(0.9);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.9);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.9);
  -webkit-transform-origin: 0 0;
  transform: scale(0.9);
  transform-origin: 0 0;
}
/* line 17, ../sass/utilities/sprite.scss */
.flag-icon.US {
  background-position: 0px -1px;
}
/* line 20, ../sass/utilities/sprite.scss */
.flag-icon.MX {
  background-position: -257px -193px;
}
/* line 23, ../sass/utilities/sprite.scss */
.flag-icon.CN {
  background-position: -65px -241px;
}
/* line 26, ../sass/utilities/sprite.scss */
.flag-icon.IN {
  background-position: -193px -25px;
}
/* line 29, ../sass/utilities/sprite.scss */
.flag-icon.PH {
  background-position: -321px -145px;
}
/* line 32, ../sass/utilities/sprite.scss */
.flag-icon.None {
  background: none;
}

/* line 39, ../sass/utilities/sprite.scss */
.dropdown-arrow {
  background: url("images/arrow-down.svg") no-repeat;
  background-position: 0px 0px;
  width: 12px;
  height: 8px;
  position: absolute;
  margin-top: 16px;
  right: 10px;
}

/* line 50, ../sass/utilities/sprite.scss */
.icons-lib {
  background-repeat: no-repeat;
  background-image: url("images/icons-sprite/icons-sprite.svg");
}

/* line 53, ../sass/utilities/sprite.scss */
.icon-lock {
  float: right;
  margin-right: 19px;
  width: 26px;
  height: 26px;
  background-position: -157px -2px;
}

/* line 58, ../sass/utilities/sprite.scss */
.icon-bank {
  width: 28px;
  height: 27px;
  background-position: -63px -27px;
}

/* line 61, ../sass/utilities/sprite.scss */
.icon-agent {
  width: 28px;
  height: 24px;
  background-position: -30px -30px;
}

/* line 64, ../sass/utilities/sprite.scss */
.icon-arrow-next {
  width: 20px;
  height: 20px;
  background-position: -100px -5px;
}

/* line 67, ../sass/utilities/sprite.scss */
.icon-close {
  width: 20px;
  height: 20px;
  background-position: -125px -5px;
}

/* line 70, ../sass/utilities/sprite.scss */
.icon-more {
  float: right;
  width: 10px;
  height: 10px;
  background-position: -70px -10px;
}

/* line 74, ../sass/utilities/sprite.scss */
.icon-minus {
  float: right;
  width: 10px;
  height: 10px;
  background-position: -86px -10px;
}

/* line 78, ../sass/utilities/sprite.scss */
.icon-arrow-down {
  float: right;
  position: absolute;
  right: 11px;
  width: 12px;
  height: 8px;
  background-position: -52px -11px;
}

/* line 3, ../sass/utilities/base.scss */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 8, ../sass/utilities/base.scss */
body, html {
  height: 100%;
  position: relative;
}

/* line 12, ../sass/utilities/base.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #44433D;
  background-color: #F1EFE6;
}

/* line 17, ../sass/utilities/base.scss */
h1 {
  color: #906B10;
  font-size: 19px;
  margin-top: 20px;
}

/* line 22, ../sass/utilities/base.scss */
h2 {
  color: #929497;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 7px;
}

/* line 28, ../sass/utilities/base.scss */
h1, h2 {
  line-height: 25px;
  font-weight: bold;
}

/* line 32, ../sass/utilities/base.scss */
h3 {
  color: #906B10;
  font-size: 16px;
}

/* line 36, ../sass/utilities/base.scss */
h4 {
  margin: 0;
}

/* line 39, ../sass/utilities/base.scss */
p {
  margin: 10px 0;
}

/* line 42, ../sass/utilities/base.scss */
input {
  color: #44433D;
}
/* line 44, ../sass/utilities/base.scss */
input.err {
  color: #D0021B;
}

/* line 48, ../sass/utilities/base.scss */
.clearfix {
  clear: both;
  overflow: auto;
}

/* line 52, ../sass/utilities/base.scss */
.left {
  float: left;
}

/* line 55, ../sass/utilities/base.scss */
.right {
  float: right;
}

/* line 58, ../sass/utilities/base.scss */
a {
  color: #0A82A9;
  font-size: 12px;
}

/* line 63, ../sass/utilities/base.scss */
sup {
  color: #0A82A9;
  font-size: 9px;
}

/* line 4, ../sass/utilities/form-elements.scss */
.dropdown {
  background: none #FFFFFF;
}
/* line 6, ../sass/utilities/form-elements.scss */
.dropdown:hover {
  background: none #FFFFFF;
}

/* line 10, ../sass/utilities/form-elements.scss */
.dorpdown-container {
  height: 38px;
}
/* line 12, ../sass/utilities/form-elements.scss */
.dorpdown-container .el-brown-title {
  height: 16px;
  line-height: 16px;
}

/* line 19, ../sass/utilities/form-elements.scss */
.full-width-btn {
  margin-top: 25px;
  width: 100%;
  height: 45px;
  border: 0;
  display: block;
  background: #0A82A9;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-webkit-appearance: none;
  -ms-webkit-appearance: none;
  -o-webkit-appearance: none;
  webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-shadow: none;
}

/* line 41, ../sass/utilities/form-elements.scss */
button:hover {
  background: #8B9FA9;
  text-decoration: none;
}

/* line 46, ../sass/utilities/form-elements.scss */
input[type="submit"]:disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 55, ../sass/utilities/form-elements.scss */
#sendto-countries-modal .modal-dialog, #receiver-currency-modal .modal-dialog, #sendto-option-modal .modal-dialog,
#sendfrom-bank-modal .modal-dialog, #us-state-modal .modal-dialog,
#sender-BDate-modal .modal-dialog, #sender-BMonth-modal .modal-dialog, #sender-BYear-modal .modal-dialog,
#trans-purpose-modal .modal-dialog {
  width: 100%;
  margin: 0;
  height: 100%;
}
/* line 60, ../sass/utilities/form-elements.scss */
#sendto-countries-modal .modal-content, #receiver-currency-modal .modal-content, #sendto-option-modal .modal-content,
#sendfrom-bank-modal .modal-content, #us-state-modal .modal-content,
#sender-BDate-modal .modal-content, #sender-BMonth-modal .modal-content, #sender-BYear-modal .modal-content,
#trans-purpose-modal .modal-content {
  border-radius: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: none;
  border: none;
}
/* line 67, ../sass/utilities/form-elements.scss */
#sendto-countries-modal .modal-header, #receiver-currency-modal .modal-header, #sendto-option-modal .modal-header,
#sendfrom-bank-modal .modal-header, #us-state-modal .modal-header,
#sender-BDate-modal .modal-header, #sender-BMonth-modal .modal-header, #sender-BYear-modal .modal-header,
#trans-purpose-modal .modal-header {
  border: none;
}
/* line 69, ../sass/utilities/form-elements.scss */
#sendto-countries-modal .modal-header .close, #receiver-currency-modal .modal-header .close, #sendto-option-modal .modal-header .close,
#sendfrom-bank-modal .modal-header .close, #us-state-modal .modal-header .close,
#sender-BDate-modal .modal-header .close, #sender-BMonth-modal .modal-header .close, #sender-BYear-modal .modal-header .close,
#trans-purpose-modal .modal-header .close {
  color: #FFFFFF;
  opacity: .6;
}
/* line 74, ../sass/utilities/form-elements.scss */
#sendto-countries-modal li, #receiver-currency-modal li, #sendto-option-modal li,
#sendfrom-bank-modal li, #us-state-modal li,
#sender-BDate-modal li, #sender-BMonth-modal li, #sender-BYear-modal li,
#trans-purpose-modal li {
  color: #FFFFFF;
  list-style: none;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  cursor: pointer;
}
/* line 81, ../sass/utilities/form-elements.scss */
#sendto-countries-modal li div, #receiver-currency-modal li div, #sendto-option-modal li div,
#sendfrom-bank-modal li div, #us-state-modal li div,
#sender-BDate-modal li div, #sender-BMonth-modal li div, #sender-BYear-modal li div,
#trans-purpose-modal li div {
  float: left;
}
/* line 84, ../sass/utilities/form-elements.scss */
#sendto-countries-modal li i, #receiver-currency-modal li i, #sendto-option-modal li i,
#sendfrom-bank-modal li i, #us-state-modal li i,
#sender-BDate-modal li i, #sender-BMonth-modal li i, #sender-BYear-modal li i,
#trans-purpose-modal li i {
  float: left;
  margin-top: 7px;
  margin-right: 7px;
}
/* line 89, ../sass/utilities/form-elements.scss */
#sendto-countries-modal li:hover, #receiver-currency-modal li:hover, #sendto-option-modal li:hover,
#sendfrom-bank-modal li:hover, #us-state-modal li:hover,
#sender-BDate-modal li:hover, #sender-BMonth-modal li:hover, #sender-BYear-modal li:hover,
#trans-purpose-modal li:hover {
  background-color: #44433D;
}

/* line 94, ../sass/utilities/form-elements.scss */
#us-state-modal .modal-dialog {
  height: auto;
}

/* line 98, ../sass/utilities/form-elements.scss */
.btn {
  font-size: 15px;
  color: #929497;
  padding-left: 0;
}

/* line 103, ../sass/utilities/form-elements.scss */
.btn.selected {
  color: #44433D;
  font-weight: bold;
}

/* line 108, ../sass/utilities/form-elements.scss */
.popup-msg-box {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  border: 2px solid #1599BA;
  background-color: rgba(10, 130, 169, 0.7);
  line-height: 20px;
  min-height: 20px;
}
/* line 117, ../sass/utilities/form-elements.scss */
.popup-msg-box .popup-icon {
  width: 15%;
}
/* line 120, ../sass/utilities/form-elements.scss */
.popup-msg-box .popup-text {
  width: 85%;
}
/* line 123, ../sass/utilities/form-elements.scss */
.popup-msg-box .popup-title {
  font-weight: bold;
  font-size: 16px;
}

/* line 4, ../sass/utilities/ui-elements.scss */
.top-banner {
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #1F1F1F;
  text-align: center;
  text-indent: 45px;
  font-size: 16px;
  color: #FFE01A;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
/* line 18, ../sass/utilities/ui-elements.scss */
.top-banner .back-arrow {
  float: left;
  margin: 10px 0 0 10px;
  width: 20px;
  height: 20px;
  background-position: -5px -28px;
}

/* line 24, ../sass/utilities/ui-elements.scss */
.banner-page {
  margin-top: 40px;
}

/* line 28, ../sass/utilities/ui-elements.scss */
.row.spaced-top {
  margin-top: 3px;
}

/* line 31, ../sass/utilities/ui-elements.scss */
.row.spaced-bottom {
  margin-bottom: 10px;
}

/* line 34, ../sass/utilities/ui-elements.scss */
.row.spaced-row {
  margin-top: 17px;
  margin-bottom: 10px;
}

/* line 39, ../sass/utilities/ui-elements.scss */
.white-row {
  background-color: #FFFFFF;
  padding: 8px 0;
  min-height: 57px;
  line-height: 37px;
  border-top: 2px solid #C7C7CC;
}
/* line 45, ../sass/utilities/ui-elements.scss */
.white-row.err {
  border-top: 1px solid #D0021B;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 3px #D0021B;
  border-bottom: 1px solid #D0021B;
}

/* line 51, ../sass/utilities/ui-elements.scss */
.white-row-bb {
  background-color: #FFFFFF;
  padding: 10px 0;
  min-height: 57px;
  line-height: 37px;
  border-bottom: 2px solid #C7C7CC;
}
/* line 57, ../sass/utilities/ui-elements.scss */
.white-row-bb.err {
  border-top: 1px solid #D0021B;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 3px #D0021B;
  border-bottom: 1px solid #D0021B;
}

/* line 63, ../sass/utilities/ui-elements.scss */
.white-row-nb {
  background-color: #FFFFFF;
}

/* line 66, ../sass/utilities/ui-elements.scss */
.white-row-spacing {
  background-color: #FFFFFF;
  border-bottom: 2px solid #C7C7CC;
  height: 6px;
}

/* line 71, ../sass/utilities/ui-elements.scss */
.end-row {
  border-bottom: 2px solid #C7C7CC;
}

/* line 74, ../sass/utilities/ui-elements.scss */
.first-row {
  border-top: 2px solid #C7C7CC;
}

/* line 77, ../sass/utilities/ui-elements.scss */
.row-border-left {
  border-left: 2px solid #C7C7CC;
}

/* line 81, ../sass/utilities/ui-elements.scss */
.row-border-top-focus {
  border-top: 2px solid #0A82A9;
}

/* line 85, ../sass/utilities/ui-elements.scss */
.row-border-bottom-focus {
  border-bottom: 2px solid #0A82A9;
}

/* line 89, ../sass/utilities/ui-elements.scss */
.row-border-focus {
  border-top: 1px solid #0A82A9;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
  border-bottom: 1px solid #0A82A9;
  margin-bottom: 2px;
  margin-top: -2px;
}

/* line 98, ../sass/utilities/ui-elements.scss */
.el-hr {
  height: 2px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #C7C7CC;
}
/* line 104, ../sass/utilities/ui-elements.scss */
.el-hr.focus {
  background-color: #0A82A9;
}
/* line 107, ../sass/utilities/ui-elements.scss */
.el-hr.err {
  background-color: #D0021B;
}

/* line 113, ../sass/utilities/ui-elements.scss */
.el-brown-title {
  color: #906B10;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}

/* line 119, ../sass/utilities/ui-elements.scss */
.el-brown-text {
  color: #906B10;
  font-size: 16px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
}

/* line 126, ../sass/utilities/ui-elements.scss */
.el-blue-title {
  color: #0A82A9;
  font-size: 13px;
  font-weight: bold;
}

/* line 131, ../sass/utilities/ui-elements.scss */
.el-gray-title {
  color: #929497;
  font-size: 13px;
}

/* line 135, ../sass/utilities/ui-elements.scss */
.el-text, .el-text-bold {
  font-size: 14px;
}

/* line 138, ../sass/utilities/ui-elements.scss */
.el-text-bold {
  font-weight: bold;
}

/* line 141, ../sass/utilities/ui-elements.scss */
.el-gray-title-s {
  color: #929497;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.4px;
}
/* line 146, ../sass/utilities/ui-elements.scss */
.el-gray-title-s div {
  height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
}

/* line 152, ../sass/utilities/ui-elements.scss */
.el-text-s {
  font-size: 13px;
  letter-spacing: -0.4px;
  text-align: right;
}
/* line 156, ../sass/utilities/ui-elements.scss */
.el-text-s div {
  height: 20px;
  line-height: 20px;
}

/* line 163, ../sass/utilities/ui-elements.scss */
.amount-row .el-text {
  text-align: right;
}

/* line 167, ../sass/utilities/ui-elements.scss */
.err-text {
  color: #D0021B;
}

/* line 170, ../sass/utilities/ui-elements.scss */
.err-msg {
  clear: both;
  line-height: 10px;
}

/* line 175, ../sass/utilities/ui-elements.scss */
.legal-statement {
  font-size: 11px;
  color: #929497;
}
/* line 178, ../sass/utilities/ui-elements.scss */
.legal-statement ul {
  margin-left: -28px;
}
/* line 181, ../sass/utilities/ui-elements.scss */
.legal-statement li {
  list-style: none;
  margin-bottom: 5px;
}
/* line 184, ../sass/utilities/ui-elements.scss */
.legal-statement li sup {
  text-indent: -10px;
  position: relative;
  top: 7px;
  float: left;
}
/* line 190, ../sass/utilities/ui-elements.scss */
.legal-statement li.check-box {
  height: 10px;
  position: relative;
  left: -18px;
  margin-top: -14px;
}

/* line 199, ../sass/utilities/ui-elements.scss */
.disclaimer-row {
  margin-top: 25px;
  border: 1px solid #FFFFFF;
  padding: 8px 0;
}
/* line 203, ../sass/utilities/ui-elements.scss */
.disclaimer-row .disclamier-title {
  float: left;
}
/* line 206, ../sass/utilities/ui-elements.scss */
.disclaimer-row .icons-lib {
  float: right;
  margin-top: 6px;
}
/* line 210, ../sass/utilities/ui-elements.scss */
.disclaimer-row .legal-statement {
  margin-top: 15px;
}

/* line 215, ../sass/utilities/ui-elements.scss */
.terms {
  color: #929497;
  font-size: 11px;
}

/* line 219, ../sass/utilities/ui-elements.scss */
.terms-title, .privacy-title {
  font-size: 11px;
  color: #906B10;
  margin: 13px 0 10px;
}

/* line 225, ../sass/utilities/ui-elements.scss */
#privacy-container {
  color: #929497;
  font-size: 11px;
}

/* line 231, ../sass/utilities/ui-elements.scss */
footer {
  margin: 25px 0;
  font-size: 11px;
  text-align: center;
  color: #929497;
}
/* line 236, ../sass/utilities/ui-elements.scss */
footer a {
  font-size: 11px;
}
/* line 239, ../sass/utilities/ui-elements.scss */
footer .footer-row {
  margin: 5px 0;
}

/* line 246, ../sass/utilities/ui-elements.scss */
.col-xs-12.err, .col-xs-6.err {
  border-bottom: #D0021B;
  -moz-box-shadow: #D0021B 0 0 8px;
  -webkit-box-shadow: #D0021B 0 0 8px;
  box-shadow: #D0021B 0 0 8px;
}
/* line 249, ../sass/utilities/ui-elements.scss */
.col-xs-12.focus, .col-xs-6.focus {
  border-bottom: #0A82A9;
  -moz-box-shadow: #0A82A9 0 0 8px;
  -webkit-box-shadow: #0A82A9 0 0 8px;
  box-shadow: #0A82A9 0 0 8px;
}

/* line 255, ../sass/utilities/ui-elements.scss */
.hide-element {
  height: 0;
  -moz-transition: height, linear 0.5s;
  -o-transition: height, linear 0.5s;
  -webkit-transition: height, linear 0.5s;
  transition: height, linear 0.5s;
}

/* line 262, ../sass/utilities/ui-elements.scss */
.active-blue-bar, .top-progress-bar .active-step, .top-progress-bar .active-bar {
  height: 4px;
  background-color: #0A82A9;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -5px;
  position: relative;
}

/* line 270, ../sass/utilities/ui-elements.scss */
.top-progress-bar {
  height: 30px;
  line-height: 30px;
  border-bottom: 2px solid #0A82A9;
}
/* line 274, ../sass/utilities/ui-elements.scss */
.top-progress-bar .el-blue-title, .top-progress-bar .el-gray-title {
  text-align: center;
}
/* line 279, ../sass/utilities/ui-elements.scss */
.top-progress-bar .active-step:before {
  position: absolute;
  top: -3px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 4px solid #0A82A9;
  border-left: 6px solid transparent;
  content: '';
  left: 45%;
}

/* line 3, ../sass/utilities/floatinglabel.scss */
input, .floating-placeholder {
  height: 40px;
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/utilities/floatinglabel.scss */
.floating-placeholder {
  position: relative;
  float: left;
  width: 100%;
}
/* line 18, ../sass/utilities/floatinglabel.scss */
.floating-placeholder input {
  width: 100%;
  font-size: 15px;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: transparent;
  z-index: 2;
}
/* line 30, ../sass/utilities/floatinglabel.scss */
.floating-placeholder label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 28px;
  color: #929497;
  z-index: 1;
  -moz-transform-origin: 0 0em;
  -ms-transform-origin: 0 0em;
  -webkit-transform-origin: 0 0em;
  transform-origin: 0 0em;
  -moz-transition: -moz-transform 160ms, color 200ms;
  -o-transition: -o-transform 160ms, color 200ms;
  -webkit-transition: -webkit-transform 160ms, color 200ms;
  transition: transform 160ms, color 200ms;
  -moz-transform: scale(1, 1) rotateY(0);
  -ms-transform: scale(1, 1) rotateY(0);
  -webkit-transform: scale(1, 1) rotateY(0);
  transform: scale(1, 1) rotateY(0);
}

/* line 45, ../sass/utilities/floatinglabel.scss */
.floating-placeholder-float label {
  -moz-transform: scale(0.9, 0.9) rotateY(0);
  -ms-transform: scale(0.9, 0.9) rotateY(0);
  -webkit-transform: scale(0.9, 0.9) rotateY(0);
  transform: scale(0.9, 0.9) rotateY(0);
  font-weight: normal;
  color: #906B10;
}
/* line 50, ../sass/utilities/floatinglabel.scss */
.floating-placeholder-float input {
  line-height: 60px;
  height: 60px;
  border: none;
}

/* line 3, ../sass/utilities/tooltip.scss */
.tip {
  margin-top: 15px;
  background: #F1EFE6;
  border: 2px solid #B19859;
  padding: 10px;
  font-size: 11px;
  position: relative;
  width: 100%;
  color: #929497;
  font-weight: bold;
}
/* line 13, ../sass/utilities/tooltip.scss */
.tip.err {
  color: #D0021B;
  border-color: #D0021B;
}
/* line 16, ../sass/utilities/tooltip.scss */
.tip.err:before {
  border-bottom-color: #D0021B;
}

/* line 21, ../sass/utilities/tooltip.scss */
.tip:before {
  position: absolute;
  top: -14px;
  display: inline-block;
  border-right: 28px solid transparent;
  border-bottom: 14px solid #B19859;
  border-left: 28px solid transparent;
  content: '';
}

/* line 30, ../sass/utilities/tooltip.scss */
.tip:after {
  position: absolute;
  top: -11px;
  display: inline-block;
  border-right: 28px solid transparent;
  border-bottom: 12px solid #F1EFE6;
  border-left: 28px solid transparent;
  content: '';
}

/* line 4, ../sass/home.scss */
.page-container {
  min-height: 100%;
  width: 100%;
  height: 100%;
  display: block;
}

/* line 10, ../sass/home.scss */
.header-img {
  margin-top: 40px;
  position: relative;
  width: 100%;
  min-height: 200px;
  height: 48%;
  border: none;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 18, ../sass/home.scss */
.header-img.hide-element {
  height: 0;
  min-height: 0;
  overflow: hidden;
  -moz-transition: height, ease-out 1s;
  -o-transition: height, ease-out 1s;
  -webkit-transition: height, ease-out 1s;
  transition: height, ease-out 1s;
}

/* line 25, ../sass/home.scss */
#hero-bg {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  background-image: url("images/HomePage-hikers@2x.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 40, ../sass/home.scss */
#home-tagline {
  font-size: 28px;
  color: #000000;
  width: 100%;
  padding: 0 15px;
  line-height: 30px;
  margin-top: 30px;
}

/* line 48, ../sass/home.scss */
#home-logo {
  width: 166px;
  height: 32px;
  background-position: 19px -44px;
  margin: 5px auto;
  background-size: 90%;
}

/* line 53, ../sass/home.scss */
.wu-logo-sm {
  background: url("images/wulogo-sml.svg") no-repeat;
  height: 30px;
  width: 74px;
  background-size: 80%;
}
/* line 58, ../sass/home.scss */
.wu-logo-sm.home {
  margin: 8px auto;
}
/* line 61, ../sass/home.scss */
.wu-logo-sm.float-right {
  float: right;
  margin-top: 8px;
  margin-right: -12px;
}

/* line 68, ../sass/home.scss */
#home-page-container {
  min-height: 525px;
}

/* line 73, ../sass/home.scss */
.midSizeGrayText, #send-amount-row .sendfrom-currency, #send-amount-row .select-dropdown.currency .btn, .lrgSizeGrayText {
  color: #929497;
}

/* line 76, ../sass/home.scss */
.lrgSizeDarkGrayText, #select-country-row .country-name {
  color: #44433D;
}

/* line 79, ../sass/home.scss */
.midSizeGrayText, #send-amount-row .sendfrom-currency, #send-amount-row .select-dropdown.currency .btn {
  font-size: 14px;
}

/* line 82, ../sass/home.scss */
.lrgSizeGrayText, .lrgSizeDarkGrayText, #select-country-row .country-name {
  font-size: 15px;
}

/* line 88, ../sass/home.scss */
#sendfrom-title .send-from {
  border-top: 2px solid #C7C7CC;
  border-right: 2px solid #C7C7CC;
  padding-left: 45px;
}
/* line 93, ../sass/home.scss */
#sendfrom-title .send-to {
  border-top: 2px solid #C7C7CC;
  padding-left: 32px;
}
/* line 97, ../sass/home.scss */
#sendfrom-title .send-to.row-border-top-focus {
  border-top: 2px solid #0A82A9;
}

/* line 102, ../sass/home.scss */
#select-country-row {
  line-height: 20px;
  background-color: #FFFFFF;
}
/* line 105, ../sass/home.scss */
#select-country-row .btn-default, #select-country-row .btn-default:hover {
  border: none;
}
/* line 108, ../sass/home.scss */
#select-country-row #sendfrom-country-col {
  height: 65px;
  border-bottom: 2px solid #C7C7CC;
  padding-top: 5px;
  border-right: 2px solid #C7C7CC;
}
/* line 113, ../sass/home.scss */
#select-country-row #sendfrom-country-col #sendfrom-flag {
  margin-right: 2px;
}
/* line 116, ../sass/home.scss */
#select-country-row #sendfrom-country-col .el-brown-title {
  margin-left: 30px;
  margin-bottom: 8px;
}
/* line 121, ../sass/home.scss */
#select-country-row .country-name {
  font-weight: bold;
}
/* line 125, ../sass/home.scss */
#select-country-row #sendto-country-col {
  height: 65px;
  border-bottom: 2px solid #C7C7CC;
  padding-bottom: 40px;
  padding: 5px 0 0 0;
  position: relative;
}
/* line 131, ../sass/home.scss */
#select-country-row #sendto-country-col #sendto-flag {
  margin-top: 9px;
  margin-left: 10px;
}
/* line 135, ../sass/home.scss */
#select-country-row #sendto-country-col.row-border-focus {
  margin-bottom: 0;
  margin-top: 0;
}
/* line 139, ../sass/home.scss */
#select-country-row #sendto-country-col .el-brown-title {
  margin-left: 31px;
}
/* line 142, ../sass/home.scss */
#select-country-row #sendto-country-col .icon-arrow-down {
  top: 40px;
}
/* line 145, ../sass/home.scss */
#select-country-row #sendto-country-col .animate-focus {
  position: absolute;
}
/* line 148, ../sass/home.scss */
#select-country-row #sendto-country-col .btn {
  padding-top: 6px;
}
/* line 152, ../sass/home.scss */
#select-country-row .dorpdown-container {
  width: 100%;
  padding-right: 11px;
}
/* line 161, ../sass/home.scss */
#select-country-row .btn {
  width: 70%;
  text-align: left;
  padding-left: 0px;
}
/* line 167, ../sass/home.scss */
#select-country-row .el-brown-title {
  margin-left: 14px;
}

/* line 173, ../sass/home.scss */
.modal-body ul {
  padding: 0;
  margin: 0 auto;
}

/* line 178, ../sass/home.scss */
#sendto-countries-modal ul {
  width: 130px;
}

/* line 181, ../sass/home.scss */
#receiver-currency-modal ul {
  width: 26px;
}

/* line 185, ../sass/home.scss */
#sendfrom-bank-modal ul {
  width: 166px;
}

/* line 192, ../sass/home.scss */
.title-row .you-send-title {
  border-right: 2px solid #C7C7CC;
  padding-top: 5px;
}

/* line 198, ../sass/home.scss */
#send-amount-row {
  background-color: #FFFFFF;
  border-bottom: 2px solid #C7C7CC;
}
/* line 201, ../sass/home.scss */
#send-amount-row input[type="number"] {
  width: 60%;
}
/* line 204, ../sass/home.scss */
#send-amount-row .sendto-currency {
  float: right;
  width: 30px;
  margin-top: 5px;
  margin-right: 10px;
}
/* line 209, ../sass/home.scss */
#send-amount-row .sendto-currency .icon-arrow-down {
  top: 13px;
}
/* line 213, ../sass/home.scss */
#send-amount-row .sendfrom-currency {
  float: right;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 6%;
}
/* line 220, ../sass/home.scss */
#send-amount-row input:focus {
  outline: none;
}
/* line 223, ../sass/home.scss */
#send-amount-row .dropdown-arrow {
  top: -3px;
}
/* line 226, ../sass/home.scss */
#send-amount-row .select-dropdown.currency .btn {
  padding: 0;
}
/* line 230, ../sass/home.scss */
#send-amount-row .receiver-gets {
  padding-left: 20px;
}
/* line 232, ../sass/home.scss */
#send-amount-row .receiver-gets .dorpdown-container {
  height: 26px;
}
/* line 236, ../sass/home.scss */
#send-amount-row .you-send {
  height: 31px;
  border-right: 2px solid #C7C7CC;
}
/* line 240, ../sass/home.scss */
#send-amount-row .you-send input, #send-amount-row .receiver-gets input {
  width: 80px;
  height: 25px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

/* line 250, ../sass/home.scss */
#home-form .icon-arrow-next {
  width: 20px;
  height: 20px;
  margin: -33px auto;
}

/* line 255, ../sass/home.scss */
.receiver-gets-title span {
  padding-left: 5px;
}

/* line 258, ../sass/home.scss */
#send-fx-row {
  background-color: #FFFFFF;
  padding-top: 12px;
}

/* line 262, ../sass/home.scss */
#send-amount-fx {
  text-align: center;
}

/* line 267, ../sass/home.scss */
.total-panel .el-text {
  padding-right: 28px;
  text-align: right;
}

/* line 272, ../sass/home.scss */
#total-header {
  padding-top: 5px;
}

/* line 275, ../sass/home.scss */
#sender-amount {
  font-size: 15px;
}

/* line 279, ../sass/home.scss */
#send-delivery-method {
  margin-top: 10px;
}
/* line 281, ../sass/home.scss */
#send-delivery-method button {
  float: left;
}
/* line 284, ../sass/home.scss */
#send-delivery-method .icon-arrow-down {
  top: 20px;
}
/* line 287, ../sass/home.scss */
#send-delivery-method .btn {
  padding: 0;
}

/* line 291, ../sass/home.scss */
#send-tol-amount-row {
  padding-bottom: 6px;
  border-bottom: 2px solid #C7C7CC;
  font-weight: bold;
}

/* line 297, ../sass/home.scss */
#receiver-tol {
  height: 35px;
  line-height: 33px;
  font-weight: bold;
}

/* line 304, ../sass/home.scss */
#bank-row {
  margin-top: 10px;
}
/* line 306, ../sass/home.scss */
#bank-row .icon-arrow-down {
  top: 24px;
}
/* line 309, ../sass/home.scss */
#bank-row .btn {
  padding: 0;
  margin-top: -12px;
}

/* line 315, ../sass/home.scss */
#choose-bank-title {
  margin-top: 25px;
}

/* line 320, ../sass/home.scss */
#disclamier5 .tip:before, #disclamier5 .tip:after {
  right: 30%;
}

/* line 325, ../sass/home.scss */
#disclamier4-1 .tip:before, #disclamier4-1 .tip:after {
  left: 50%;
}

/* line 330, ../sass/home.scss */
#disclamier4-2 .tip {
  margin-bottom: 10px;
}
/* line 333, ../sass/home.scss */
#disclamier4-2 .tip:before, #disclamier4-2 .tip:after {
  left: 15px;
}

/* line 337, ../sass/home.scss */
#otherCountryTip {
  margin-top: -10px;
}
/* line 339, ../sass/home.scss */
#otherCountryTip .tip:before, #otherCountryTip .tip:after {
  right: 20%;
}

/* line 343, ../sass/home.scss */
#otherBankTip {
  margin-top: -10px;
}
/* line 345, ../sass/home.scss */
#otherBankTip .tip:before, #otherBankTip .tip:after {
  left: 20%;
}

/* line 3, ../sass/sender-info.scss */
#sender-detail {
  overflow: hidden;
  height: 100px;
}
/* line 7, ../sass/sender-info.scss */
#sender-detail .row-border-left {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 13, ../sass/sender-info.scss */
#sender-detail .el-brown-title div, #sender-detail .el-text-s div {
  height: 20px;
  line-height: 20px;
}

/* line 20, ../sass/sender-info.scss */
.sender-birth .btn {
  padding-left: 0;
}
/* line 23, ../sass/sender-info.scss */
.sender-birth .el-brown-title {
  padding-top: 3px;
}
/* line 27, ../sass/sender-info.scss */
.sender-birth .birthday .birthday-col {
  width: 33.3%;
  float: left;
  padding-left: 15px;
}
/* line 32, ../sass/sender-info.scss */
.sender-birth .birthday .errText {
  color: #D0021B;
}
/* line 35, ../sass/sender-info.scss */
.sender-birth .birthday .correctText {
  color: #44433D;
}

/* line 45, ../sass/sender-info.scss */
#sender-BDate-modal .modal-dialog {
  height: auto;
}

/* line 51, ../sass/sender-info.scss */
#sender-BDate-modal li, #sender-BMonth-modal li, #sender-BYear-modal li {
  text-align: center;
}

/* line 57, ../sass/sender-info.scss */
#sender-phone-row .phone-countrycode {
  float: left;
  margin-right: 5px;
  padding-top: 12px;
  height: 40px;
}
/* line 63, ../sass/sender-info.scss */
#sender-phone-row .floating-placeholder {
  width: 90%;
}
/* line 65, ../sass/sender-info.scss */
#sender-phone-row .floating-placeholder label {
  margin-left: -15px;
}

/* line 5, ../sass/receiver-info.scss */
#receiver-info-container .sending-amount .el-text {
  height: 20px;
  line-height: 20px;
}

/* line 12, ../sass/receiver-info.scss */
#trans-purpose-modal ul {
  width: 199px;
}

/* line 17, ../sass/receiver-info.scss */
.dorpdown-container.arrow-middle .icon-arrow-down {
  top: 19px;
}

/* line 23, ../sass/receiver-info.scss */
#trans-purpose .btn {
  margin-top: -10px;
}

/* line 3, ../sass/review.scss */
#review-container .col-xs-1, #review-container .col-xs-10, #review-container .col-xs-11, #review-container .col-xs-12, #review-container .col-xs-2, #review-container .col-xs-3, #review-container .col-xs-4, #review-container .col-xs-5, #review-container .col-xs-6, #review-container .col-xs-7, #review-container .col-xs-8, #review-container .col-xs-9 {
  padding-right: 8px;
}
