//Font 
$globalFont: Helvetica, Arial, sans-serif; 

//color-------------------------------------------
$white: #FFFFFF;
$black: #000000;
$ivory: #F1EFE6;

$red: #D0021B;

$orange: #EDBF00;
$paleOrange: #F3CE72;
$brown: #906B10;
$midBrown: #B19859;

$darkGray: #44433D;
$midGray: #929497;
$lightGray: #C7C7CC;

$blueGreen: #77B7B4;

$grayBlue: #8B9FA9;


//Font sizes--------------------------------------
$h1TextSize: 19px;
$h2TextSize: 16px;
$h3TextSize: 16px;
$supTextSize: 9px;
//Form element Text Sizes------------
$elTitleSize: 12px;
$elTextSize: 16px;
$medTextSize: 14px;
$lrgTextSize: 15px;
$elSubTitleTextSize: 13px;
$elSubTolDataTextSize: 14px;
$elSubTitleTextSize_s: 12px;
$elSubTolDataTextSize_s: 13px;
$floatLabelTextSize: 14px;
$legalTextSize: 11px;
$btnTextSize: 16px;
$popUpTitleTextSize: 16px;
//footer-----------------------------
$footerGrayTextSize: 11px;
//links------------------------------
$linkTextSize: 14px;
//tooltip----------------------------
$tooltipTextSize: 11px;

//font color--------------------------------------
$h1TextColor: $brown;
$h2TextColor: $midGray;
$h3TextColor: $brown;
$bodyTextColor: $darkGray;
$homeTaglineTextColor: $black;
$linkTextColor: $blueGreen;
$floatLabelTextColor: $midGray;
$flatLabelEnteredTextColor: $brown; 
$legalTextColor: $midGray;
$headerBannerTextColor: $brown;
$errTextColor: $red;
$btnTextColor: $midGray;
$btnSelectedTextColor: $darkGray;
$grayTextColor: $midGray;
$darkGrayTextcolor: $darkGray;
$inputTextColor: $darkGray;
//footer-----------------------------
$footerGrayTextColor: $midGray;

//home page--------------------------
$lrgGrayTextColor: $midGray;
$elTitleColor: $brown;
$elSubTitleColor: $midGray;
$countryDropdownTextColor: $white;

//Page Level Color---------------------------------
$bodyBgColor: $ivory;
$headerBannerColor: $paleOrange; 

$popupMsgboxBgColor: rgba(119 ,183, 180, 0.7);

//Form Element Color-------------------------------
$primaryBtnColor: $blueGreen;
$primaryBtnCoverHover: $grayBlue;
$primaryBtnTextColor: $white;
$dropdownBgColor: $white;


//--home---------------------
$rowBorderColor: $lightGray;
$rowBgColor: $white;
$errBorderColor: $red;


//standard line-height----------------------------
$line-height-reg: 18px;

//tooltip-----------------------------------------
$tooltipBgColor: $ivory; 
$tooltipBdColor: $midBrown; 
$tooltipArrowColor: $ivory;




