/* line 3, ../../sass/utilities/base.scss */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 8, ../../sass/utilities/base.scss */
body, html {
  height: 100%;
  position: relative;
}

/* line 12, ../../sass/utilities/base.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #44433D;
  background-color: #F1EFE6;
}

/* line 17, ../../sass/utilities/base.scss */
h1 {
  color: #906B10;
  font-size: 19px;
  margin-top: 20px;
}

/* line 22, ../../sass/utilities/base.scss */
h2 {
  color: #929497;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 7px;
}

/* line 28, ../../sass/utilities/base.scss */
h1, h2 {
  line-height: 25px;
  font-weight: bold;
}

/* line 32, ../../sass/utilities/base.scss */
h3 {
  color: #906B10;
  font-size: 16px;
}

/* line 36, ../../sass/utilities/base.scss */
h4 {
  margin: 0;
}

/* line 39, ../../sass/utilities/base.scss */
p {
  margin: 10px 0;
}

/* line 42, ../../sass/utilities/base.scss */
input {
  color: #44433D;
}
/* line 44, ../../sass/utilities/base.scss */
input.err {
  color: #D0021B;
}

/* line 48, ../../sass/utilities/base.scss */
.clearfix {
  clear: both;
  overflow: auto;
}

/* line 52, ../../sass/utilities/base.scss */
.left {
  float: left;
}

/* line 55, ../../sass/utilities/base.scss */
.right {
  float: right;
}

/* line 58, ../../sass/utilities/base.scss */
a {
  color: #0A82A9;
  font-size: 12px;
}

/* line 63, ../../sass/utilities/base.scss */
sup {
  color: #0A82A9;
  font-size: 9px;
}
